.header {
  height: 80px;
}
.header--wrap {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header--nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.road {
\
  border: 1px solid var(--gray);
}
/* banner */
.banner {
  max-width: 100%;
  width: 100%;
  /* height: 721px; */
}
.banner img {
  width: 1000%;
  height: 100%;
  object-fit: contain;
}
